{% extends 'myapp/base.html' %}
{% block content %}
    <h3>Вам необходимо авторизоваться для просмотра данной страницы</h3>
    {% if form.errors %}
        <p>Имя пользователя или пароль неподходят. Пожалуйста, попбробуйте еще раз.</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}

        <button name="submit"> Вход</button>
        <input type="hidden" name="next" value="{% url 'demand_list' %}"/>
    </form>
{% endblock %}