{% extends 'myapp/base.html' %}
{% block content %}
{% include 'material/includes/material_css.html' %}
<head>
</head>
<body>
<div class="login">
    <h5 align="center">Вам необходимо авторизоваться для просмотра данной страницы</h5>
    {% if form.errors %}
        <p><ins>Имя пользователя или пароль неподходят. Пожалуйста, попбробуйте еще раз.</ins></p>
    {% endif %}
    <div class="style_form_login" align="center">
        <form method="post" action="{% url 'users:login' %}" align="right"> {% csrf_token %}
        <div class="username">
            <td>Пользователь:</td>
            <td>{{ form.username }}</td>
        </div>
        <div class="password">
            <td>Пароль: </td>
            <td>{{ form.password }}</td>
        </div>
        <input type="hidden" name="next" value="{% url 'demand_list' %}" />
        <button name="submit" class="mdc-button mdc-button--raised" onClick='location.href="{% url 'demand_list' %}"'>Вход</button>
        </form>
    </div>
</div>
{% block footer %}
    <p></p>
{% endblock %}
</body>
{% endblock %}