{% extends 'myapp/base.html' %}
{% block content %}
{% include 'material/includes/material_css.html' %}
<head>
</head>
<body>
    <div class="header">
    </div>
        <div class="style_form" >
            <div class="title_form">
                <h1>Новая заявка:</h1>
            </div>
            <div class="body_form">
                <form method="POST" class=""> {% csrf_token %}
                <p class="">{{ form.as_p }}</p>
                <button class="mdc-button mdc-button--raised" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
</body>
{% endblock %}