{% extends 'myapp/base.html' %}
{% block content %}
<html>
    <head>
    </head>
    <body>
        <div align="center">
            <div class="position_delete">
                <form method="POST">{% csrf_token %}
    	            <h2 class="delete_text">Вы уверены, что хотите удалить данную позицию?</h2>
                    <button class="mdc-button mdc-button--raised" type="submit">Удалить</button>
                    <button class="mdc-button mdc-button--raised" type="button" onClick='location.href="{% url 'demand_detail' id_demand=demand.id %}"'>Отменить</button>
                </form>
            </div>
        </div>
{% endblock %}