{% extends 'myapp/base.html' %}
{% block content %}
<head>
</head>
<body>
    <div class="title_info_demand">
        <p><b>Просмотр всех созданных документов по заявке №{{ demand.id }}</b></p>
    </div>
    <div align="center">
        <div class="table_style">
            <table width="1000" align="center">
                <thead>
                    <tr>
                        <th>Дата создания</th>
                        <th>Пользователь</th>
                        <th>Название документа</th>
                        <th>PDF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td bgcolor="#d8cce6">{{ documents.date_create }}</td>
                        <td bgcolor="#d8cce6">{{ documents.user_create }}</td>
                        <td bgcolor="#d8cce6">{{ documents.name_doc }}</td>
                        <td bgcolor="#d8cce6"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}